<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
    </body>
</html>