{{ define "main" }}

{{- partial "header.html" . -}}

<section id="blog" {{ if .Site.Data.homepage.blog.overlay }} class="overlay" {{ end }}
	style="background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('{{ .Site.Data.homepage.blog.bgImage | absURL }}'); background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="heading">{{ .Site.Data.homepage.blog.title | markdownify }}</h1>
					<ul>
						{{ $paginator := .Paginate .Site.RegularPages }}
						{{ range $paginator.Pages }}
						{{ if eq .Type "room" }}
						<li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
							<div class="blog-img">
								<img src="{{ .Params.headerimage | absURL }}" alt="post-image" class="img-responsive">
							</div>
							<div class="content-right">
								<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
								<p>{{ .Description }}</p>
							</div>
						</li>
						{{ end }}
						{{ end }}
					</ul>
				</div>
			</div><!-- .col-md-12 close -->
			{{ template "_internal/pagination.html" . }}
		</div><!-- .row close -->
	</div><!-- .containe close -->
</section><!-- #blog close -->

{{end}}