{{ define "main" }}

<section id="hero-area">
    <img class="img-responsive post-thumb d-inline-block" src="{{ .Params.headerimage | absURL }}" alt="blog-image">
  </section>
{{- partial "header.html" . -}}

<section class="section blog-single-page blogpage">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="heading wow fadeInUp blogtitle" data-wow-duration="400ms" data-wow-delay="500ms">{{ .Title | markdownify }}
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="post-single-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}
