{{ with .Site.Data.homepage.about }}
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 block">
        <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">{{ .title | markdownify }}</h1>
      </div>
      <div class="col-md-8">
        <div class="block">
          <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">{{ .description | safeHTML }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <img class="img-responsive mx-auto" src="{{ .image | absURL }}" alt="{{ .title }}" />
      </div>
    </div>
  </div>
</section>
{{end}}