{{ with .Site.Data.homepage.contact }}
<section id="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">{{ .title | markdownify }}</h1>
					<h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">{{ .subtitle | markdownify }}</h3>
					<form action="{{ .formAction }}" method="POST">
						<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
							<input type="email" name="email" class="form-control" placeholder="Email">
						</div>
						<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
							<input type="text" name="name" class="form-control" placeholder="Naam">
						</div>
						<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
							<textarea class="form-control" rows="3" name="message" placeholder="Boodschap of vraag"></textarea>
						</div>
						<button type="submit" value="send" class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms"
						role="button">Verzenden</button>
					</form>
				</div>
			</div><!-- .col-md-12 close -->
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- #contact-us close -->
{{end}}
