{{ if .Site.Params.footer.enable }}
<section id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="block wow fadeInLeft" data-wow-delay="200ms">
					<h3>{{ with .Site.Params.footer.contactInfoTitle }} {{ . | safeHTML }} {{ end }}</h3>
					<div class="info">
						<ul>
							{{ range $.Site.Params.footer.contactItem }}
							<li>
								<h4><i class="{{.icon}}"></i>{{ .title }}</h4>
								<p>{{ .content | markdownify }}</p>
							</li>
							{{end}}
						</ul>
					</div>
				</div>
			</div>
			<!-- .col-md-4 close -->
			<div class="col-md-4">
				<div class="block wow fadeInLeft" data-wow-delay="700ms">
					<h3>{{ with .Site.Params.footer.blogTitle }} {{ . | safeHTML }} {{ end }}</h3>
					<div class="blog">
						<ul>
							{{ range (where .Site.Pages "Type" "room") }}
							{{ if ne .Kind "section" }}
							{{ "<!-- post -->" | safeHTML }}
							<li>
								<h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>

							</li>
							{{ end }}
							{{ end }}
						</ul>
					</div>
				</div>
			</div>
			<!-- .col-md-4 close -->
			<div class="col-md-4">
				<div class="block wow fadeInLeft" data-wow-delay="1100ms">
					<div class="gallary">
						<h3>{{ with .Site.Params.footer.galleryTitle }} {{ . | safeHTML }} {{ end }}</h3>
						<ul class="gallery">
							{{ range first 6 $.Site.Data.homepage.gallery.sliderItem }}
							<li><a href="{{ .image | absURL }}" class="venobox" data-gall="footerGallery"><img class="img-responsive"
										src="{{ .image | absURL }}" alt=""></a></li>
							{{ end }}
						</ul>
					</div>
					<div class="social-media-link">
						<h3>{{ with .Site.Params.footer.socialTitle }} {{ . | safeHTML }} {{ end }}</h3>
						<ul>
							{{ range $.Site.Params.footer.socialLink }}
							<li><a href="{{ .link | safeURL }}" target="_blank"><i class="fa fa-{{ .icon }}"></i></a></li>
							{{ end }}
						</ul>
					</div>
				</div>
			</div>
			<!-- .col-md-4 close -->
		</div><!-- .row close -->
	</div><!-- .containe close -->
</section><!-- #footer close -->
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id }}
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	ga('create', '{{ . }}', 'auto');
	ga('send', 'pageview');
</script>
{{ end }}
