{{ "<!-- Navigation Start  -->" | safeHTML }}

<nav class="navigation">
	<div class="container">
		<div class="block">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						{{"<!-- logo -->" | safeHTML}}
						<a class="navbar-brand" href="{{ .Site.BaseURL }}">
							<img class="img-responsive" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
						</a>
						{{"<!-- logo -->" | safeHTML}}
					</div>

					{{ if .IsHome }}
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right" id="top-nav">
							{{ range $.Site.Menus.main }}
							<li><a href="{{ .URL }}">{{ .Name }}</a></li>
							{{ end }}
						</ul>
					</div><!-- /.navbar-collapse -->
					{{else}}
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right" id="top-nav">
							{{ range $.Site.Menus.main }}
							<li><a href="{{$.Site.BaseURL}}#{{ .URL }}">{{ .Name }}</a></li>
							{{ end }}
						</ul>
					</div><!-- /.navbar-collapse -->
					{{end}}
				</div><!-- /.container-fluid -->
			</nav>
		</div>
	</div><!-- .container close -->
</nav><!-- header close -->