{{ if .Site.Data.homepage.host.enable }}
{{ with .Site.Data.homepage.host }}
<section id="host">
  <div class="container">
    <div class="row flex">
      <div class="col-md-12 block">
          <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">{{ .title | safeHTML }}</h1>
      </div>
      <div class="col-md-4" id="secondDivMobile">
        <img class="img-responsive mx-auto" src="{{ .sleutelbloem | absURL }}" alt="{{ .title }}" />
      </div>
      <div class="col-md-8 block" id="firstDivMobile">
        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">{{ .description | safeHTML }}</p>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}