{{ define "main" }}

{{ partial "hero-area.html" . }}

{{- partial "header.html" . -}}

{{ with .Site.Data.booking.pricing }}
<section id="booking">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading">{{ .title | markdownify }}</h1>
                    <div class="center">
                        {{ range .formules }}
                        <div class="col-md-4 card">
                            <h4 class="heading">{{ .name }}</h4>
                            <h5>{{ .nights }}</h5>
                            <h3>€{{ .price }}</h6>
                        </div>
                    {{ end }}
                    </div>
                    <br>
                    <h1 class="heading">{{ .general.title | markdownify }}</h1>
                    <ul class="conditions">
                        {{ range .general.conditions }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ with .Site.Data.booking.calendar }}
<section id="booking">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading">{{ .title }}</h1>
                <div class="responsiveCal">
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBrussels&amp;src=amFuQGxldmVsMjcuYmU&amp;color=%23039BE5&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;showDate=0" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ with .Site.Data.homepage.contact }}
<section id="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">{{ .title | markdownify }}</h1>
					<h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">{{ .subtitle | markdownify }}</h3>
					<form action="{{ .formAction }}" method="POST">
						<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
							<input type="email" name="email" class="form-control" placeholder="Write your email address here...">
						</div>
						<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
							<input type="text" name="name" class="form-control" placeholder="Write your full name here...">
						</div>
						<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
							<textarea class="form-control" rows="3" name="message" placeholder="Write your message here..."></textarea>
						</div>
						<button type="submit" value="send" class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms"
						role="button">send your message</button>
					</form>
				</div>
			</div><!-- .col-md-12 close -->
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- #contact-us close -->
{{end}}
{{ end }}

